<!-- high scores -->
                    <div class="row">
                         <div class="col-xs-12">
                             <div class="high-scores">
                                 <div class="row">
                                     <div class="col-xs-12">
                                         <div class="text-center">
                                             <h3>High Scores</h3>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row score">
                                     <div class="col-xs-6 score-name">
                                         <h5><strong><i>Name</i></strong></h5>
                                     </div>
                                     <div class="col-xs-2 score-attempts">
                                         <h5><strong><i>#</i></strong></h5>
                                     </div>
                                     <div class="col-xs-4 score-time">
                                         <h5><strong><i>Time</i></strong></h5>
                                     </div>
                                 </div>
                                 <!--<div class="row score" ng-repeat="score in game.getScores()">
                                     <div class="col-xs-6 score-name">
                                         {{score.name}}
                                     </div>
                                     <div class="col-xs-2 score-attempts">
                                         {{score.attempts}}
                                     </div>
                                     <div class="col-xs-4 score-time">
                                         {{score.seconds}}s
                                     </div>
                                 </div>-->
                             </div>
                         </div>
                    </div>