<!-- Tiles - use angular to repeat the tiles -->
                    <div class="row">
                        //todo tilearea
                        <!--<div class="col-xs-4 col-sm-3" ng-repeat="tile in game.tiles">-->
                            <!-- depending on whether the tile is already matched, make an active button in a form or just a button appearance -->
                            <!--<div ng-switch on="game.tileMatched(tile.id)">
                                <div ng-switch-when="true">
                                    <div class="tile exposed {{game.tileExposedClass(tile.id)}}">
                                        <button class="btn btn-lg myButton"><i class="glyphicon {{tile.icon}}"></i></button>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <div class="tile exposed {{game.tileExposedClass(tile.id)}}">
                                        <form ng-submit="game.tilePressed(tile.id)">
                                            <button class="btn btn-lg myButton" type="submit"><i class="glyphicon {{game.tileIcon(tile.id)}}"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>