<!-- Publisher -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="titleBox">
                    <h3 class="title">Me Am Bobbo</h3>
                </div>
            </div>
        </div>
        <!-- Presents -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                -- <span class="presents">Presents</span> --
            </div>
        </div>
        <!-- Game Title/Subtitle -->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <div class="subtitle">
                    <h2 class="subtitle">Test your Memory</h2>
                    <h4 class="subtitle">An Angular demo app</h4>
                </div>
            </div>
        </div>